<a href="https://colab.research.google.com/github/arunkumar2831/Python-Programs/blob/main/Python_BasicProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###P1:arithmetical operations addition and division.

Write a Python program to do arithmetical operations addition and division.

In [ ]:
num1= float(input("Enter the num1 value:"))
num2= float(input("Enter the num2 value:"))
sumvalue= num1+num2
print(f"sum of: {num1} + {num2} = {sumvalue}")
if num2 == 0:
  print("Error: Division with zero is not allowed")
else:
  div_result= num1/num2
  print(f"Division of {num1} by {num2} is : {div_result}")

Enter the num1 value:25
Enter the num2 value:5
sum of: 25.0 + 5.0 = 30.0
Division of 25.0 by 5.0 is : 5.0

### P2:Area of a triangle.

Python program to find the area of a triangle.

In [ ]:
heightval = float(input("Enter the Height of the triangle: "))
baseval = float(input("Enter the base of the triangle:"))
areaval= 0.5 * heightval * baseval
print(f"The Area of the Triangle is: { areaval}")

Enter the Height of the triangle: 15
Enter the base of the triangle:10
Area of the Triangle is: 75.0

### P3:Swap two variables

Write a Python program to swap two variables.

In [ ]:
a = input("Enter the variable A value:-")
b = input("Enter the variable B value:-")
print(f"Original values of A = {a}, and B = {b}")
temp = a
a = b
b = temp
print("After Swap the variable values:")
print(f"Swapped values of A = {a}, and B = {b}")

Enter the variable A value:-5
Enter the variable B value:-7
Original values of A = 5, and B = 7
After Swap the variable values:
Swapped values of A = 7, and B = 5

### P4:Generate Random **Number**

Write a Python program to generate a random number.

In [ ]:
import random
# randint(startnum, stopnum)
print(f"Random number is :- {random.randint(29,30)}")

Random number is :- 29

### P5:Convert Kilometers to Miles.

1.Write a Python program to convert kilometers to miles.
1.Write a Python program to convert miles to kilometers.

In [ ]:
km = float(input("Enter the kilometers:- "))
miles_conversion_ratio = 0.621371
kilometers_conversion_ratio = 1.621371
miles = km * miles_conversion_ratio
kilometers = miles * kilometers_conversion_ratio
print(f"{km} kilometers is equal to {miles} miles")
print(f"{miles} miles is equal to {kilometers} kilometers")

Enter the kilometers:- 100
100.0 kilometers is equal to 62.137100000000004 miles
62.137100000000004 miles is equal to 100.7472919641 kilometers

### P6: Celsius to Fahrenheit.

Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
celsius= float(input("Enter the celsius: "))
#Convert Celsius to Fahrenheit:- Fahrenheit = (Celsius * 9/5) + 32
print(f"{celsius} degree celsius is equal to {(celsius * 9/5) + 32} degree Fahrenheit")

Enter the celsius: 37
37.0 degree celsius is equal to 98.6 degree Fahrenheit

### P7: Display Calendar

Write a Python program to display calendar

In [ ]:
import calendar

yr = int(input("Enter the Year:- "))
mn= int(input("Enter the Month:- "))
cal=calendar.month(yr,mn)
fullcal= calendar.calendar(yr)
print(f"{mn} month of the year {yr} is :-")
print(cal)
# print(f"            2024 calendar               ")
# print(fullcal)

Enter the Year:- 24
Enter the Month:- 12
12 month of the year 24 is :-
    December 24
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

            2024 calendar
                                   24

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

### P8:Swap two variables without TEMP variable

Write a Python program to swap two variables without temp variable.

In [ ]:
a = 5
b = 10
print(f"Orginal values of A = {a} and B = {b} ")
#Swapping values
a , b = b , a
print(f"Swapped values of A = {a} and B = {b} without using TEMP ")

Orginal values of A = 5 and B = 10 without using TEMP
Swapped values of A = 10 and B = 5 without using TEMP

### P9:Number is Positive, Negative or Zero

Write a Python Program to Check if a Number is Positive, Negative or Zero.

In [ ]:
num=float(input("Enter the Number :- "))

if num>0:
  print(f"The Given number {num} is positive ")
elif num ==0:
  print(f"The Given number zero. ")
else:
  print(f"The Given number {num} is Negative ")

Enter the Number :- -8
The Given number -8.0 is Negative

### P10:Odd or EvenNumber

Write a Python Program to Check if a Number is Odd or Even.

In [ ]:
num = int(input("Enter the given number is Odd or Even :"))

if num%2==0:
  print(f"The given number {num} is Even ")
else:
  print(f"The given number {num} is Odd ")

Enter the given number is Odd or Even :9
The given number 9.0 is Odd

### P11:Check Leap Year

Write a Python Program to Check Leap Year.

In [ ]:
yr = int(input("Enter the Year :- "))
if (yr%400 == 0) and (yr%100 == 0):
  print(f"The given year {yr} is Leap Year")
elif (yr%4 == 0) and (yr%100 != 0):
  print(f"The given year {yr} is Leap Year")
else:
  print(f"The given year {yr} is not Leap Year")

Enter the Year :- 1996
The given year 1996 is Leap Year

### P12:Check Prime Number

```
# This is formatted as code
```

Write a Python Program to Check Prime Number.
Prime Numbers:

---


*A prime number is a whole number that cannot be evenly divided by any other numberexcept for 1 and itself. For example, 2, 3, 5, 7, 11, and 13 are prime numbers because theycannot be divided by any other positive integer except for 1 and their own value.*

In [ ]:
num = int(input("Enter the number"))

flag= False

if(num==1):
  print(f"The number {num} is not prime number ")
elif num> 1:
  for i in range(2, num):
    print(num)
    print(i)
    print(num%i)
    if (num % i == 0):
      flag = True
      break
if flag:
  print(f"The number {num} is not prime number ")
else:
  print(f"The number {num} is prime number ")

### P13:Print all Prime Numbers in range

Print all Prime Numbers in an Interval of 1-10.

In [25]:
def sieve_of_eratosthenes(upper):
    is_prime = [True] * (upper + 1)

    is_prime[0] = is_prime[1] = False
    # print(int(upper**0.5))
    for num in range(2, int(upper**0.5) + 1):
        if is_prime[num]:
            # print(is_prime[num*num : upper + 1 : num])
            # print([False] * len(is_prime[num*num : upper + 1 : num]))
            is_prime[num*num : upper + 1 : num] = [False] * len(is_prime[num*num : upper + 1 : num])
    print(is_prime[num])
    return [num for num in range(2, upper + 1) if is_prime[num]]

lower = 1
upper = 10

print("Prime numbers between", lower, "and", upper, "are:")
primes = sieve_of_eratosthenes(upper)
print(primes)
for num in primes:
    if num >= lower:
        print(num)

Prime numbers between 1 and 10 are:
True
[2, 3, 5, 7]
2
3
5
7

### P14:Factorial of a Number.

Write a Python Program to Find the Factorial of a Number.

In [28]:
num =int(input("Enter the number:-  "))
factorial = 1
if num<0:
  print("Factorial does not exist for negative numbers")
elif num == 0:
  print("Factorial number of 0 is 1.")
else:
  for i in range(1, num+1):
    factorial=factorial *i
  print(f"Factorial number of {num} is {factorial}")

Enter the number:-  5
Factorial number of 5 is 120

### P15:Display the multiplication Table.

Write a Python Program to Display the multiplication Table.

In [30]:
num= int(input("enter the multiplication table number:- "))
for i in range(1, 21):
  print(f"{num} * {i} = {num * i}")

enter the multiplication table number:- 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
9 * 13 = 117
9 * 14 = 126
9 * 15 = 135
9 * 16 = 144
9 * 17 = 153
9 * 18 = 162
9 * 19 = 171
9 * 20 = 180