<a href="https://colab.research.google.com/github/arunkumar2831/Python-Programs/blob/main/python_functionprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### L1:LambdaFunctions

Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and prints the result.
Sample Output:
25
48

In [1]:
r = lambda a : a + 15
print(r(10))

r = lambda x,y: x*y
print(r(12,4))

25
48

### L2:Function return Lambda funtion

Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number.
Sample Output:
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [3]:
def newfunc(n):
  return lambda x:x*n

result = newfunc(2)
print("Double the number of 15 :- ",result(15))

result = newfunc(3)
print("Triple the number of 15 :- ",result(15))

result = newfunc(4)
print("Quadruple the number of 15 :- ",result(15))

result = newfunc(5)
print("Quintuple the number of 15 :- ",result(15))

Double the number of 15 :-  30
Triple the number of 15 :-  45
Quadruple the number of 15 :-  60
Quintuple the number of 15 :-  75

### Sort a list of tuples using Lambda

Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
"[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]"
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [1]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

print("Subject mark before sorting")
print(subject_marks)

subject_marks.sort(key=lambda x : x[1])
print("Subject mark After sorting")
print(subject_marks)

Subject mark before sorting
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Subject mark After sorting
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]